* {
  box-sizing: border-box;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  padding: 8px;
  background-color: aquamarine;
}

textarea {
  width: 300px;
  height: 150px;
}


.DisplayContainer {
  border: 3px;
  border-style: solid;
  border-color: rgb(79, 39, 117);
  background-color: beige;
  /* border-collapse: collapse; */
  /* margin: 2em; */
  padding: 10em;
  /* text-align: left; */
  /* width: 130px;
  height: 50px; */
  /* margin-left: 20%; */
  /* margin-right:70%;  */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: lightskyblue;
  padding: 10px;
  border: 5px;
  height: 15em;
  width: 20em;
  border-color: purple;
}

.grid-item {
  background-color: rgba(248, 226, 226, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  height: 6em;
  width: 15em;
  text-align: left;
}

.AlignName {
  text-align: left;
}

.p {
  text-align: left;
}

.border-box1 {
  border: 3px;
  border-style: solid;
  border-color: rgb(60, 52, 68);
  border-collapse: collapse;
  background-color: rgb(226, 236, 225);
  margin: 2em;
  padding: 1em;
  margin-left: 20%;
  margin-right:20%;
  
}

.border-box2 {
  border: 3px;
  border-style: solid;
  border-color: purple;
  background: lightskyblue;
  margin: 3em;
  padding: 4em;
  height: 55em;
  margin-left: 20%;
  margin-right: 20%;

}

.center {
  margin-left: auto;
  margin-right: auto;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  width: 100px;
  height: 75px;
  margin: 1rem;
}

.active {
  border: 1px solid blue;
  background-color: cornsilk;
}